/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* PubNub Website Takeover */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
body {
    padding: 0 !important;
    margin: 0 !important;
}
body, div {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont,
        "Segoe UI", "Roboto",
        "Helvetica Neue", "Ubuntu";
}
#custom_html-1,
#custom_html-2,
#custom_html-3,
#custom_html-4,
.floating-social-share {
    display: none;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* Color Scheme */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
:root {
    --emp1: rgba( 41,  51, 155, 1); /* strong blue */
    --emp2: rgba(245, 100,  22, 1); /* hot orange */
    --emp3: rgba(116, 164, 188, 1); /* clear ocean blue */
    --emp4: rgba(182, 214, 204, 1); /* light sliver */
    --emp5: rgba(241, 254, 198, 1); /* light yellow-green-ish */

    --emp-white: rgba(255,255,255,1);
    --emp-white-translucent: rgba(255,255,255,0.5);
    --emp-white-transparent: rgba(255,255,255,0);

    --emp-gray50: #f7fafc;
    --emp-gray100: #e3e8ee;
    --emp-gray200: #c1c9d2;
    --emp-gray300: #a3acb9;
    --emp-gray400: #8792a2;
    --emp-gray500: #697386;
    --emp-gray600: #4f566b;
    --emp-gray700: #3c4257;
    --emp-gray800: #2a2f45;
    --emp-gray900: #1a1f36;

    --emp-blue50: #f5fbff;
    --emp-blue100: #d6ecff;
    --emp-blue200: #a4cdfe;
    --emp-blue300: #7dabf8;
    --emp-blue400: #6c8eef;
    --emp-blue500: #556cd6;
    --emp-blue600: #3d4eac;
    --emp-blue700: #2f3d89;
    --emp-blue800: #212d63;
    --emp-blue900: #131f41;

    --emp-cyan50: #edfdfd;
    --emp-cyan100: #c4f1f9;
    --emp-cyan200: #7fd3ed;
    --emp-cyan300: #4db7e8;
    --emp-cyan400: #3a97d4;
    --emp-cyan500: #067ab8;
    --emp-cyan600: #075996;
    --emp-cyan700: #06457a;
    --emp-cyan800: #093353;
    --emp-cyan900: #042235;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* Top Navigation */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
div#top-navigation {
    --top-nav-height: 80px;
    display: flex;
    height: var(--top-nav-height);
}
div#top-navigation div.pubnub-logo {
    flex: 6;
}
div#top-navigation div.pubnub-logo > div.pubnub-logo-svg {
    margin-top: 10px;
    margin-left: 10px;
    right: 20px;
}
div#top-navigation div.install-button {
    flex: 1;
    width: 100px;
    height: var(--top-nav-height);
    line-height: var(--top-nav-height);
    text-align: center;
    background: var(--emp2);
    color: var(--emp-gray50);
    font-weight: 600;
    cursor: pointer;
}
div#top-navigation div.talk-to-sales-button {
    flex: 2;
    height: var(--top-nav-height);
    line-height: var(--top-nav-height);
    text-align: center;
    background: var(--emp1);
    color: var(--emp-gray50);
    font-weight: 200;
    cursor: pointer;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* Hero Header */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
div#hero {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    text-align: left;
    align-items: center;
    justify-content: center;
    align-content: center;
    background:
        linear-gradient(to top,
            var(--emp-white)               0%,
            var(--emp-white-transparent)  50%,
            var(--emp-white-transparent) 100%),
        linear-gradient(265deg,
            var(--emp-cyan300)   0%,
            var(--emp-cyan50)   20%,
            var(--emp-cyan50)   30%,
            var(--emp-gray100) 100%);
}
div#hero div.hero-title {
    flex: 1;
    width: 100%;
    margin: 100px 0 0 100px;
    font-size: 100px;
    font-weight: 100;
}
div#hero div.hero-title div.hero-subtext {
    margin-top: 30px;
    font-size: 32px;
    font-weight: 200;
    line-height: 1.4em;
    color: var(--emp-gray500);
}
div#hero div.hero-phones {
    flex: 1;
    position: relative;
    overflow: hidden;
    height: 520px;
}
div#hero div.hero-phones div.hero-phone-1,
div#hero div.hero-phones div.hero-phone-2,
div#hero div.hero-phones div.hero-phone-3 {
    position: absolute;
    background: url(https://i.imgur.com/CnRZYnE.png);
    background-size: 364px 287px;
    width: 364px;
    height: 287px;
}
div#hero div.hero-phones div.hero-phone-1 {
    top: 0px;
    left: 0px;
}
div#hero div.hero-phones div.hero-phone-2 {
    top: 150px;
    left: 50px;
}
div#hero div.hero-phones div.hero-phone-3 {
    top: 24px;
    left: 330px;
    transform: scaleX(-1) rotate(16deg);
}
div#hero div.hero-phones > div {
    animation:
        floating calc( var(--child) * 1.6s + 8.0s)
        ease-in-out calc(var(--child) * -3s) infinite alternate;
}
div#hero div.hero-phones img.hero-phone-video {
    width: 100px;
    height: 200px;
    transform: rotateZ(23.5deg) skew(-26.5deg) translate(128px,-30px) scale(1.3,1.1);
}

@keyframes floating {
      0% { transform: translateY(-6px) }
    100% { transform: translateY(90px) }
}

div#hero div.hero-phones em {
    z-index: 100;
    color: var(--emp-white-transparent);
    width: 400px;
    height: 10px;
    position: absolute;
    top: calc(17px * var(--child));
    left: calc((-20px * var(--child)) + 400px);
    border-radius: 2px;
    background:
        linear-gradient(to left,
            var(--emp-cyan100)             0%,
            var(--emp-white-translucent)  10%,
            var(--emp-white-translucent)  90%,
            var(--emp-white-transparent) 100%);
    animation:
        shooting calc( var(--child) * 0.4s + 0.1s)
        ease-out calc(var(--child) * -502s) infinite;
}

@keyframes shooting {
      0% { transform: translateX(-900px); opacity: 0.9; }
     90% { transform: translateX(-400px); opacity: 0.3; }
    100% { transform: translateX(-404px); opacity: 0; }
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/*    Enumerate children for css variables     */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
:nth-child(1)  { --child: 1   }
:nth-child(2)  { --child: 2   }
:nth-child(3)  { --child: 3   }
:nth-child(4)  { --child: 4   }
:nth-child(5)  { --child: 5   }
:nth-child(6)  { --child: 6   }
:nth-child(7)  { --child: 7   }
:nth-child(8)  { --child: 8   }
:nth-child(9)  { --child: 9   }
:nth-child(10) { --child: 10  }
:nth-child(11) { --child: 11  }
:nth-child(12) { --child: 12  }
:nth-child(13) { --child: 13  }
:nth-child(14) { --child: 14  }
:nth-child(15) { --child: 15  }
:nth-child(16) { --child: 16  }
:nth-child(17) { --child: 17  }
:nth-child(18) { --child: 18  }
:nth-child(19) { --child: 19  }
:nth-child(20) { --child: 20  }
:nth-child(21) { --child: 21  }
:nth-child(22) { --child: 22  }
:nth-child(23) { --child: 23  }
:nth-child(24) { --child: 24  }
:nth-child(25) { --child: 25  }
:nth-child(26) { --child: 26  }
:nth-child(27) { --child: 27  }
:nth-child(28) { --child: 28  }
:nth-child(29) { --child: 29  }
:nth-child(30) { --child: 30  }
:nth-child(31) { --child: 31  }
:nth-child(32) { --child: 32  }
:nth-child(33) { --child: 33  }
:nth-child(34) { --child: 34  }
:nth-child(35) { --child: 35  }
:nth-child(36) { --child: 36  }
:nth-child(37) { --child: 37  }
:nth-child(38) { --child: 38  }
:nth-child(39) { --child: 39  }
:nth-child(40) { --child: 40  }
:nth-child(41) { --child: 41  }
:nth-child(42) { --child: 42  }


/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/*                 PubNub Logo                 */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
div#top-navigation div.pubnub-logo > div.pubnub-logo-svg {
    width: 150px;
    height: var(--top-nav-height);
    background: url('data:image/svg+xml;base64,PHN2ZyBkYXRhLW5hbWU9InB1Ym51Yi1sb2dvLWwxIiBpZD0icHVibnViLWxvZ28tbDEiIHZpZXdCb3g9IjAgMCA3MjAgMjcxLjExIiB3aWR0aD0iMTUwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPiA8ZGVmcz4gPHN0eWxlPiAuY2xzLTF7ZmlsbDpub25lfS5jbHMtMntmaWxsOiNkMDIxMjl9PC9zdHlsZT4gPC9kZWZzPiA8cmVjdCBjbGFzcz0iY2xzLTEiIGhlaWdodD0iMjcxLjExIiB3aWR0aD0iNzIwIj48L3JlY3Q+IDxwYXRoIGNsYXNzPSJjbHMtMiIgZD0iTTI5MC41OCwyMDAuNTZsLTUuNDktLjU5YTExNi41NywxMTYuNTcsMCwwLDEtMjgtNi40LDIuMTUsMi4xNSwwLDAsMS0xLjYyLTIuNDFxLjA2LTU5LjQyLDAtMTE4Ljg1VjcwLjU1SDI3My44djQwLjgxbDIuODItMWE3MS40NCw3MS40NCwwLDAsMSwyNy44Mi00LjU2YzE1LjE3LjY2LDI2LjUsOC44MiwzMS44OSwyM0E1OC43OSw1OC43OSwwLDAsMSwzMzkuODcsMTQ5YTg2LjI2LDg2LjI2LDAsMCwxLTIuNzYsMjQuOGMtNCwxNC40My0xMy41OCwyMi43OS0yOC4xNSwyNS41OS0yLjIzLjQzLTQuNS41OS02Ljc1Ljg5YTguOTQsOC45NCwwLDAsMC0xLC4yOFptLTE2Ljc0LTQ3LjMzYzAsOS4zOCwwLDE4Ljc2LDAsMjguMTVhMS44NCwxLjg0LDAsMCwwLDEuNDgsMi4wNSw2My41OSw2My41OSwwLDAsMCwxNy4wNywzLjcsMzcuMjcsMzcuMjcsMCwwLDAsMTIuMzEtLjhjNy43Mi0yLDEyLjI1LTcuMjUsMTQuMzQtMTQuNjlhNzUuMjksNzUuMjksMCwwLDAsMS41MS0zM0EyNC4zNSwyNC4zNSwwLDAsMCwzMTUsMTI2LjEyYy00LjY0LTUuMjQtMTAuNzYtNy4wNy0xNy40OS03LjE2YTYwLDYwLDAsMCwwLTIyLjMsNC4xMywxLjc5LDEuNzksMCwwLDAtMS4zOSwyYy4wNiw5LjM4LDAsMTguNzYsMCwyOC4xNSI+PC9wYXRoPiA8cGF0aCBjbGFzcz0iY2xzLTIiIGQ9Ik02MDAuNTIsMjAwLjU2LDU5NSwyMDBhMTE2LDExNiwwLDAsMS0yOC02LjM4LDIuMTYsMi4xNiwwLDAsMS0xLjY2LTIuNDFxLjA3LTU5LjQ5LDAtMTE5VjcwLjU2aDE4LjI3djQwLjc5YzEuMjYtLjQ0LDIuMjktLjc5LDMuMzEtMS4xNmE3MCw3MCwwLDAsMSwyNy4yOS00LjM5YzE1LjQ4LjcsMjYuNzcsOSwzMi4xMywyMy40OSwzLDgsMy42LDE2LjM2LDMuMzQsMjQuOGE3Ni40Nyw3Ni40NywwLDAsMS0zLjM5LDIxLjc4Yy00LjIxLDEyLjgxLTEzLjExLDIwLjM0LTI2LjEsMjMuMjEtMi43MS42LTUuNS44MS04LjI1LDEuMjItLjQxLjA2LS44LjE4LTEuMi4yN1ptLTE2Ljc3LTQ3LjM5cTAsMTQuMjEsMCwyOC40M2MwLC44MS4wOSwxLjM1LDEsMS42OGE2MSw2MSwwLDAsMCwyNC40MywzLjkxYzQuOTEtLjI4LDkuNTEtMS42MiwxMy4zNC00LjkxLDMuNjEtMy4wOSw1LjU2LTcuMTcsNi43MS0xMS42M2E3Ny4xOCw3Ny4xOCwwLDAsMCwxLjM0LTMxLjM1LDI1LjQ5LDI1LjQ5LDAsMCwwLTUuMTgtMTIuNmMtNC42NC01LjY0LTEwLjk0LTcuNjItMTcuOTMtNy43MkE1OS41LDU5LjUsMCwwLDAsNTg1LDEyMy4xM2ExLjcsMS43LDAsMCwwLTEuMywxLjg5YzAsOS4zOCwwLDE4Ljc2LDAsMjguMTUiPjwvcGF0aD4gPHBhdGggY2xhc3M9ImNscy0yIiBkPSJNNjkuODMsNzguMDVzMjguODEtLjA4LDQyLjMzLDBBNjQuNDksNjQuNDksMCwwLDEsMTMxLjEsODAuN2MxMS4xNCwzLjQ4LDE3LjcsMTEuNSwxOSwyMy4xMWE1Ni40Miw1Ni40MiwwLDAsMS0uNjgsMThjLTIuMjYsMTAuNi04Ljg5LDE3LjI0LTE4Ljk0LDIwLjczQTU0LjMxLDU0LjMxLDAsMCwxLDExMywxNDUuM2MtNy42Ni4wOS0xNS4zMiwwLTIzLDBIODguMTl2NTNINjkuODNaTTg4LjIzLDEzMmMuMzgsMCwuNi4wNi44My4wNiw3LjA2LDAsMTQuMTIuMSwyMS4xOC0uMDZhNDUuMjEsNDUuMjEsMCwwLDAsOC44MS0xLjEzYzYtMS4zNSwxMC4zOS00LjYxLDEyLTEwLjg0YTM1LjMzLDM1LjMzLDAsMCwwLC41Ny0xNS40NWMtMS4xMi02LjExLTQuNjQtMTAuMjItMTAuNzEtMTEuNjZhNTcuMzQsNTcuMzQsMCwwLDAtMTEuMTItMS41NWMtNi42OC0uMjUtMTMuMzctLjA3LTIwLjA2LS4wNy0uNDksMC0xLDAtMS41My4wN1oiPjwvcGF0aD4gPHBhdGggY2xhc3M9ImNscy0yIiBkPSJNMTk0LjcsMjAwLjU2Yy0yLjI0LS4yOS00LjQ5LS41NC02LjcyLS44OGEzOS45MiwzOS45MiwwLDAsMS0xNS01LjIyYy03LjE3LTQuNDItMTAuODMtMTEtMTEuNjYtMTkuMjUtLjIzLTIuMzUtLjI4LTQuNzMtLjI4LTcuMDlxMC0yOS4yNiwwLTU4LjUydi0xLjczaDE4LjMzdjEuODFxMCwyNi4yNywwLDUyLjUzQTQzLjkxLDQzLjkxLDAsMCwwLDE4MSwxNzUuMTNjMi4xNSw2Ljk0LDcsMTAuODksMTQuMDYsMTEuNzRhNjYuMzksNjYuMzksMCwwLDAsMjUuNzUtMi4zMywxLjg0LDEuODQsMCwwLDAsMS41Ny0yLjEzcS0uMDYtMzYuMzcsMC03Mi43NXYtMS44M2gxOC4zMnYxLjgxcTAsNDEuMzksMCw4Mi43N2ExLjkzLDEuOTMsMCwwLDEtMS43LDIuMjgsMTY4LjU2LDE2OC41NiwwLDAsMS0zMi43MSw1LjYzLDcuMSw3LjEsMCwwLDAtMS4wNi4yNFoiPjwvcGF0aD4gPHBhdGggY2xhc3M9ImNscy0yIiBkPSJNNTA0LjY0LDIwMC41NmMtMi4yNC0uMjktNC40OS0uNTQtNi43Mi0uODhhNDAuMDgsNDAuMDgsMCwwLDEtMTQuNzgtNS4wN2MtNy4yNi00LjM2LTExLTEwLjkzLTExLjg5LTE5LjI1YTYzLjk0LDYzLjk0LDAsMCwxLS4yOC02LjUzcTAtMjkuNjEsMC01OS4yM3YtMS43NWgxOC4zM3YxLjc4cTAsMjYuNzYsMCw1My41MmEzOS45MywzOS45MywwLDAsMCwxLjc5LDEyLjM0YzIuMjMsNi44Myw3LjA4LDEwLjU2LDE0LDExLjM5YTY4LjIyLDY4LjIyLDAsMCwwLDI1LjIzLTIuMTksMi4zLDIuMywwLDAsMCwyLTIuNjhxLS4wOS0zNi4xNywwLTcyLjMzdi0xLjg1aDE4LjIzYzAsLjUyLjA4LDEsLjA4LDEuNXEwLDQxLjY3LDAsODMuMzNhMS42NSwxLjY1LDAsMCwxLTEuNDIsMS45MiwxNjcuMSwxNjcuMSwwLDAsMS0zMi44NCw1LjcxLDguMjIsOC4yMiwwLDAsMC0xLjIuMjVaIj48L3BhdGg+IDxwYXRoIGNsYXNzPSJjbHMtMiIgZD0iTTQ1My4yNCwxOTguMzFoLTE3Yy0zLjIxLDAtNi40MiwwLTkuNjIsMGEyLDIsMCwwLDEtMi4xNS0xLjI1cS0xMS4xNi0yMS42NC0yMi4zOS00My4yNGwtMzAuNjMtNTlhMi4yMSwyLjIxLDAsMCwwLS44Ni0uOTRWMTk4LjIyaC0xNlY3OC4xMmMuNDMsMCwuODgtLjA3LDEuMzItLjA3LDguMzYsMCwxNi43MiwwLDI1LjA4LDBhMS44NCwxLjg0LDAsMCwxLDEuOTIsMS4xN3EyNi42NSw1MS4zNyw1My4zNywxMDIuNzJhMi4yNywyLjI3LDAsMCwwLC44NywxVjc4LjE1aDE2LjE0WiI+PC9wYXRoPjwvc3ZnPg0K');
    background-repeat: no-repeat;
}
