/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* PubNub Website Takeover */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
body {
    padding: 0 !important;
    margin: 0 !important;
}
body, div {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont,
        "Segoe UI", "Roboto",
        "Helvetica Neue", "Ubuntu";
}
#custom_html-1,
#custom_html-2,
#custom_html-3,
#custom_html-4,
.floating-social-share {
    display: none;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* Color Scheme */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
:root {
    --emp1: rgba( 41,  51, 155, 1); /* strong blue */
    --emp2: rgba(245, 100,  22, 1); /* hot orange */
    --emp3: rgba(116, 164, 188, 1); /* clear ocean blue */
    --emp4: rgba(182, 214, 204, 1); /* light sliver */
    --emp5: rgba(241, 254, 198, 1); /* light yellow-green-ish */

    --emp-white: rgba(255,255,255,1);
    --emp-white-transparent: rgba(255,255,255,0);

    --emp-gray50: #f7fafc;
    --emp-gray100: #e3e8ee;
    --emp-gray200: #c1c9d2;
    --emp-gray300: #a3acb9;
    --emp-gray400: #8792a2;
    --emp-gray500: #697386;
    --emp-gray600: #4f566b;
    --emp-gray700: #3c4257;
    --emp-gray800: #2a2f45;
    --emp-gray900: #1a1f36;

    --emp-blue50: #f5fbff;
    --emp-blue100: #d6ecff;
    --emp-blue200: #a4cdfe;
    --emp-blue300: #7dabf8;
    --emp-blue400: #6c8eef;
    --emp-blue500: #556cd6;
    --emp-blue600: #3d4eac;
    --emp-blue700: #2f3d89;
    --emp-blue800: #212d63;
    --emp-blue900: #131f41;

    --emp-cyan50: #edfdfd;
    --emp-cyan100: #c4f1f9;
    --emp-cyan200: #7fd3ed;
    --emp-cyan300: #4db7e8;
    --emp-cyan400: #3a97d4;
    --emp-cyan500: #067ab8;
    --emp-cyan600: #075996;
    --emp-cyan700: #06457a;
    --emp-cyan800: #093353;
    --emp-cyan900: #042235;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* Top Navigation */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
div#top-navigation {
    display: flex;
    height: 80px;
}
div#top-navigation div.pubnub-logo {
    flex: 6;
    width: 100px;
}
div#top-navigation div.install-button {
    flex: 1;
    width: 100px;
    height: 40px;
}
div#top-navigation div.talk-to-sales-button {
    flex: 1;
    width: 100px;
    height: 40px;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* Hero Header */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
div#hero {
    display: flex;
    background:
        linear-gradient(to top,
            var(--emp-white)               0%,
            var(--emp-white-transparent)  50%,
            var(--emp-white-transparent) 100%),
        linear-gradient(265deg,
            var(--emp-cyan300)   0%,
            var(--emp-cyan50)   20%,
            var(--emp-cyan50)   30%,
            var(--emp-gray100) 100%);
}
div#hero div.hero-title {
    flex: 3;
    margin-left: 30px;
    font-size: 100px;
    font-weight: 100;
}
div#hero div.hero-title div.hero-subtext {
    margin-top: 30px;
    font-size: 32px;
    font-weight: 200;
    line-height: 1.4em;
}
div#hero div.hero-edge {
    flex: 1;
}
div#hero div.hero-phones {
    flex: 3;
    position: relative;
    overflow: hidden;
    height: 470px;
}
div#hero div.hero-phones div.hero-phone-1,
div#hero div.hero-phones div.hero-phone-2,
div#hero div.hero-phones div.hero-phone-3 {
    position: absolute;
    background: url(https://i.imgur.com/CnRZYnE.png);
    background-size: 364px 287px;
    width: 364px;
    height: 287px;
}
div#hero div.hero-phones div.hero-phone-1 {
    top: 0px;
    left: 0px;

}
div#hero div.hero-phones div.hero-phone-2 {
    top: 150px;
    left: 50px;
}
div#hero div.hero-phones div.hero-phone-3 {
    top: 24px;
    left: 330px;
    transform: scaleX(-1) rotate(16deg);
}
div#hero div.hero-phones > div {
    animation:
        floating calc( var(--child) * 1.6s + 8.0s)
        ease-in-out calc(var(--child) * -3s) infinite alternate;
}

@keyframes floating {
      0% { transform: translateY(-6px) }
    100% { transform: translateY(40px) }
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/*    Enumerate children for css variables     */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
:nth-child(1)  { --child: 1   }
:nth-child(2)  { --child: 2   }
:nth-child(3)  { --child: 3   }
:nth-child(4)  { --child: 4   }
:nth-child(5)  { --child: 5   }
:nth-child(6)  { --child: 6   }
:nth-child(7)  { --child: 7   }
:nth-child(8)  { --child: 8   }
:nth-child(9)  { --child: 9   }
:nth-child(10) { --child: 10  }
:nth-child(11) { --child: 11  }
:nth-child(12) { --child: 12  }
:nth-child(13) { --child: 13  }
:nth-child(14) { --child: 14  }
:nth-child(15) { --child: 15  }
:nth-child(16) { --child: 16  }
:nth-child(17) { --child: 17  }
:nth-child(18) { --child: 18  }
:nth-child(19) { --child: 19  }
:nth-child(20) { --child: 20  }
:nth-child(21) { --child: 21  }
:nth-child(22) { --child: 22  }
:nth-child(23) { --child: 23  }
:nth-child(24) { --child: 24  }
:nth-child(25) { --child: 25  }
:nth-child(26) { --child: 26  }
:nth-child(27) { --child: 27  }
:nth-child(28) { --child: 28  }
:nth-child(29) { --child: 29  }
:nth-child(30) { --child: 30  }
:nth-child(31) { --child: 31  }
:nth-child(32) { --child: 32  }
:nth-child(33) { --child: 33  }
:nth-child(34) { --child: 34  }
:nth-child(35) { --child: 35  }
:nth-child(36) { --child: 36  }
:nth-child(37) { --child: 37  }
:nth-child(38) { --child: 38  }
:nth-child(39) { --child: 39  }
:nth-child(40) { --child: 40  }
:nth-child(41) { --child: 41  }
:nth-child(42) { --child: 42  }
